@model IEnumerable<Dogily_v2.Models.Weight>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Weight1)</th>
        <td></td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(model => item.Weight1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Weight1 }) |
            @Html.ActionLink("Details", "Details", new { id=item.Weight1 }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Weight1 })
        </td>
    </tr>
}

</table>
