@model Dogily_v2.Models.ViewModel.Cart


@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
@if (Model != null)
{
    <div class="container col-10">
        <div class="row">

            <div class="col-7 g-4 mb-5">
                <div class="row py-1 my-1" style="border-bottom: 2px solid #c0c0c0">
                    <div class="col-5">
                        <b>SẢN PHẨM</b>
                    </div>
                    <div class="col-2 px-5">
                        <b>GIÁ</b>
                    </div>
                    <div class="col-3 px-5">
                        <b>SỐ LƯỢNG</b>
                    </div>
                    <div class="col-2">
                        <b>TẠM TÍNH</b>
                    </div>
                </div>


                @{
                    int i = 0;
                }
                @foreach (var item in Model.Items)
                {
                    string proAmount = "pro_amount" + i;
                    decimal total = item.Amount * (decimal)item.Product.Price.Value;
                    var img = from imgs in item.Product.ProImgs
                              where imgs.MainImg == true
                              select imgs.ImgURL;
                    <div class="row ordered_pro py-3" style="border-bottom: 1px solid #c0c0c0">
                        <div class="col-1">
                            <a href="@Url.Action("RemoveCart", "ShoppingCart", new { IDPro = item.Product.IDPro })" class="col-2" style="font-size: 1.5rem; color: #c0c0c0">
                                <i class="fa-regular fa-circle-xmark"></i>
                            </a>
                        </div>
                        <div class="col-2">
                            <img src="@Html.DisplayFor(model => img)" class="img-fluid rounded w-75" />
                        </div>
                        <div class="col-2 p-0" style="font-size: 0.76rem;">
                            <a href="/Home/ProductDetail" class="footer_link">@Html.DisplayFor(model => item.Product.Title)</a>
                        </div>
                        <div class="col-2 px-5" style="font-size: 1.3rem; color: #f80000; font-weight: 700;">
                            @Html.DisplayFor(model => item.Product.Price)<sup>₫</sup>
                        </div>
                        <div class="col-3 px-5">
                            <form action="/ShoppingCart/UpdateCartAmount" method="post">
                                <div class="btn-group" role="group">
                                    <button type="submit" class="btn btn-outline-secondary btn-sm" onclick="Decrease('@proAmount')">
                                        <i class="fa-solid fa-minus" style="font-size: 0.5rem"></i>
                                    </button>
                                    <div>
                                        <input type="hidden" value="@item.Product.IDPro" name="IDPro" />
                                        <input type="number" value="@item.Amount" id="@proAmount" name="proAmount"
                                               style="text-align: center" inputmode="numeric" class="col-12 py-1"
                                               oninput="this.form.submit()" />
                                    </div>
                                    <button type="submit" class="btn btn-outline-secondary btn-sm" onclick="Increase('@proAmount')">
                                        <i class="fa-solid fa-plus" style="font-size: 0.5rem"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                                @*@using (Html.BeginForm("UpdateCartAmount", "ShoppingCart"))
            {
                <input type="hidden" value="@item.Product.IDPro" name="IDPro" />
                <input type="number" value="@item.Amount" id="@proAmount" name="proAmount" style="text-align: center" inputmode="numeric" class="col-12 py-1" />
                <input type="submit" value="Update" />
            }*@
                        <div class="col-2" style="text-align: right; font-size: 1.3rem; color: #f80000; font-weight: 700">
                            @total<sup>₫</sup>
                        </div>
                    </div>
                    i++;
                }

                <div class="row mt-3">
                    <div class="col-4 p-0">
                        <a href="/Home/Index" class="btn btn-outline-warning">← TIẾP TỤC XEM SẢN PHẨM</a>
                    </div>
                    <div class="col-4">
                        <button type="submit" class="btn btn-warning" disabled>CẬP NHẬT GIỎ HÀNG</button>
                    </div>
                </div>
            </div>
            <div class="col-5 g-4 mb-5">
                <div class="row p-1 m-1" style="border-bottom: 2px solid #c0c0c0">
                    <div class="col-12">
                        <b>CỘNG GIỎ HÀNG</b>
                    </div>
                </div>
                <div class="row p-1 m-1 mt-3" style="border-bottom: 1px solid #c0c0c0">
                    <div class="col-6">
                        Tạm tính
                    </div>
                    <div class="col-6" style="text-align: right; font-size: 1.3rem; color: #f80000; font-weight: 700">
                        @Model.TotalPrice()<sup>₫</sup>
                        @{
                            ViewBag.TotalPro = Model.TotalAmount();
                        }
                    </div>
                </div>
                <div class="row p-1 m-1" style="border-bottom: 2px solid #c0c0c0">
                    <div class="col-6">
                        Tổng
                    </div>
                    <div class="col-6" style="text-align: right; font-size: 1.3rem; color: #f80000; font-weight: 700">
                        @Model.TotalPrice()<sup>₫</sup>
                    </div>
                </div>
                <a href="/ShoppingCart/Order" class="btn m-3" style="background-color: #000099; color: #fff; font-weight: 600; width: 95%">
                    TIẾN HÀNH THANH TOÁN
                </a>
                <p style="text-align: left; font-weight: 600; border-bottom: 2px solid #c0c0c0; margin: 0;">
                    <i class="fa-solid fa-tag fa-flip-horizontal" style="color: #c0c0c0"></i>
                    Phiếu ưu đãi
                </p>
                <input class="form-control my-3" style="" type="text" id="voucher" value="" placeholder="Mã ưu đãi" />
                <button class="btn btn-outline-secondary col-12 mb-5">Áp dụng</button>
            </div>
        </div>
    </div>

    <script>
        const Increase = (proAmountID) => {
            let pro_amount = document.getElementById(proAmountID);
            pro_amount.stepUp();
        }
        const Decrease = (proAmountID) => {
            let pro_amount = document.getElementById(proAmountID);
            pro_amount.stepDown();
        }
    </script>
}





