@model Dogily_v2.Models.ProImg

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProImg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImgURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainImg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainImg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ImgID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
